<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Addovedi</title>

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
      img.myimg {
        width: 286px;
        height: 300px;
      }
      .webgra{
        box-shadow: 0 0 30px white;
background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);      }
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .backwebgra{
        background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
      }
      .card-body p{
        font-size: 1.25rem;
      }
      .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .flip-card-front {
        background-color: #bbb;
        color: black;
      }

      .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
      }
    </style>

</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="image/download_addovedi-removebg-preview.png" alt="Addovedi" width="80" height="80">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="font-size: 30px;">Addovedi 2022</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link3</a>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="container video" style="padding: 0px; margin: 0px;">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="video">
      <source src="video/High tech digital world background 4k.mp4" type="video/mp4"
        style="width: 100%; height: 100vh;">
    </video>
  </div>

  <div class="container banner">
    <h1 id="banner1">ADDOVEDI</h1>
    <h3 id="banner2">2022</h3>
  </div>

  <div class="container slide">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1000">
          <img src="image/robo.jpeg" class="d-block w-50" alt="images/download.jpg">
          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-size: 1.25rem; ">ROBO WAR</h5>
            <p style="font-size: 1.25rem; ">Use your robot to destroy other's robot</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img src="image/treasure.jpeg" class="d-block w-50" alt="images/download.jpg">
          <div class="carousel-caption d-none d-md-block">
            <h5>TREASURE HUNT</h5>
            <p>Find the ONE PIECE</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img src="image/game.jpeg" class="d-block w-50" alt="images/download.jpg">
          <div class="carousel-caption d-none d-md-block">
            <h5>GAMING</h5>
            <p>Use Your Laptop to destroy other's will power</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>



  <div class="blackscreen">
  </div>

<div class="container" style="margin-top:-21rem">
      <div class="row">
        <%arr.forEach(card =>{ %>
        <div class="col-md-4" style="display: flex">
          <div class="card webgra" style="width: 18rem; margin: 2rem 2rem 0 2rem">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front" style="width:auto">
                  <img
                    class="card-img-top myimg"
                    src="image/<%=card.image%>"
                    alt="Card image cap"
                  />
                </div >
                <div class="flip-card-back backwebgra">
                  <p><%=card.description%></p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="card-tex t"><%=card.title%></p>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>


  <div class="footer" style="margin-top: 8rem;">
    <div class="row">
      <div class="col-md-4 footer2">
        <h1>RESOURCES</h1>
        <h3>xyzabc</h3>
        <h3>xyzabc</h3>
      </div>
      <div class="col-md-4 footer2">
        <h1>FOLLOW US</h1>
        <h3>Lorem, ipsum.</h3>
        <h3>Lorem, ipsum.</h3>
      </div>
      <div class="col-md-4 footer2">
        <h1>LEGAL</h1>
        <h3>Lorem, ipsum.</h3>
        <h3>Lorem, ipsum.</h3>
      </div>
      <div class="col-md-12"></div>
    </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>
<script>
  AOS.init();
</script>